pypandoc==1.7.4
numpy==1.22.3
scipy==1.8.0
networkx==2.7.1
recommonmark==0.7.1
sphinx==4.4.0
jupyter==1.0.0
sphinx_rtd_theme==1.0.0
pyopenssl==22.0.0
autodocsumm==0.2.7
jinja2==3.0.3
matplotlib==3.5.1
