pypandoc==1.15
recommonmark==0.7.1
jupyter==1.1.1

# get sphinx version range from furo install
furo==2024.8.6
myst-parser==4.0.0
pyopenssl==25.0.0
autodocsumm==0.2.14
jinja2==3.1.5
matplotlib==3.10.0
nbconvert==7.16.5

